[submodule "private_dot_config/nvim"]
	path = private_dot_config/nvim
	url = https://github.com/archbung/nvim
[submodule "private_dot_xmonad"]
	path = private_dot_xmonad
	url = https://github.com/archbung/xmonad-config
